<h1>Produtos Atualizado</h1>

<div class="products">
    {{#each showProducts}}
        <div class="product">
            <img src="{{this.image}}" alt="{{this.name}}">
            <h4>Produto: {{this.name}}</h4>
            <p>Preço: R${{this.price}}</p> 
            <p>Descrição: {{this.description}}</p>
        </div>
    {{/each}}
</div>