<h1>Produto: {{showProduct.name}}</h1>

<div class="products">

        <div class="product">
            <img src="{{showProduct.image}}" alt="{{showProduct.name}}">
            <h4>Produto: {{showProduct.name}}</h4>
            <p>Preço: R${{showProduct.price}}</p>
            <p>Descrição: {{showProduct.description}}</p>
            <a href="/products">Voltar</a>
            <form action="/products/delete/{{showProduct._id}}" method="POST">
                <input type="submit" value="Exluir">
            </form>
        </div>

</div>